
    <header >
    <div class="divImagenLogo">
        <img src="/images/logomonedas.png" alt="Logo">
    </div>
    <div class="navHeader">
        <nav>
            <ul>
            <li><a href="/profile/events">Eventos</a></li>
            <li><a href="/profile">Perfil</a></li>
            <li><a href="/auth/logout">Log out</a></li>
            </ul>
        </nav>
    </div>
    </header>


<div class="divIndexProfile">
    <div class="divProfile">
        <img src={{Avatar}}/>
        <h2>{{username}}</h2>
        <p>Nombre <br>{{name}}</p>
        <p>Email <br>{{email}}</p>
    </div>
    <div>

    </div>

</div>




    <button class="block"><a href="/profile/createEvent" style="text-decoration:none" > start a new event </a></button>




{{!-- {{#each}}
    <div>
        <img={{eventos.eventImg}}>
        <h1>{{eventos.name}}</h1>
        <h2>{{eventos.description}}</h2>
    </div>
{{/each}} --}}